<div class="container text">

  <center>
  <div class="add_new_product">
  	<h1>List A Product</h1>
    <form action="/post_new_product" method="post" >
      <input name="title" type="text" placeholder="Product Name"><br>
      <textarea name="description" placeholder="Product Description"></textarea><br>
      <input name="location" type="text" placeholder="Your Location"><br>
      <input name="price" type="text" placeholder="Price"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  </center>

</div>
